#Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD="Your Database password"
DB_NAME="Your Database Name"
#EMAIL CONFIGURATION
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER="Your Email Idg@gmail.com"
SMTP_PASSWORD="Your SMTP password"
SMTP_FROM="Your Email Id@gmail.com"